<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AnglicanGeek.MarkdownMailer" version="1.2" />
  <package id="AutoMapper" version="2.2.1" targetFramework="net40" />
  <package id="elmah.corelibrary" version="1.2.1" />
  <package id="Ensure.That" version="0.5.0" />
  <package id="log4net" version="1.2.10" targetFramework="net40" allowedVersions="[1.2.10]" />
  <package id="MarkdownSharp" version="1.13.0.0" />
  <package id="Reactive.EventAggregator" version="2.0.0" targetFramework="net40" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net40" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net40" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net40" />
  <package id="SimpleInjector" version="2.0.0" targetFramework="net40" />
</packages>